@import url('https://fonts.googleapis.com/css?family=Lato');

// Feel
$base-margin-whitespace: 8px;
$base-padding-whitespace: 6px;

// Page
$page-max-width: 950px;

// Font
$base-font: 'Lato', sans-serif;
$base-font-size: 16px;

// Color
$primary-color: #3456cd;
$success-color: #08ad15;
$danger-color: #cd3456;

// Button
$button-font-size: 12px;

// Input
$input-label-font-size: 12px;
$input-value-font-size: 16px;
