@import '../utils/utility';
@import '../utils/variables';

h1.af-page-header { font-size: 1.6em; }
h2.af-page-header { font-size: 1.3em; font-weight: 400 !important; }
h3.af-page-header { font-size: 0.8em; letter-spacing: 2px !important; }
p.af-paragraph { margin-bottom: mlf(2); line-height: 1.4; }

.af-page-header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: mlf(2.5);
  margin-bottom: mlf(1);

  .af-tag:first-child {
    margin-left: mlf(2);
  }

  .af-tag {
    font-size: 0.65rem;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    vertical-align: top;
    margin-top: 0;
  }
}

.af-page {
  position: relative;
  max-width: $page-max-width;
  margin: mlf(2) auto;

  @media only screen and (max-width: $page-max-width) {
    & {
      margin: mlf(2) mlf(2.5);
    }
  }

  section.af-page-section {
    padding: plf(2) 0;

    .af-page-header:nth-child(1) {
      margin-top: 0;
    }
  }
}

.af-layout {
  display: grid;

  section.af-page-section {
    padding: plf(3) plf(3);
  }
}

.af-code {
  font-family: monospace;
  font-size: 15px;
  display: block;
  padding: plf(3);
  line-height: 1.55;
  background-color: #e8e8e8;
}