@import '../utils/utility';
@import '../utils/variables';

.af-toggle-group {
  position: relative;
  padding: plf(2) plf(1);

  .af-tab {
    position: relative;
    display: inline-block;

    input {
      position: absolute;
      appearance: none;
      margin: 0;
    }

    input[type="radio"] + label,
    input[type="checkbox"] + label{
      display: block;
      letter-spacing: 1px;
      padding: plf(1) plf(3);
      color: $primary-color;
      border: 1px $primary-color solid;
      border-right: none;
    }

    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label{
      color: #fff;
      background-color: $primary-color;
      font-weight: 300;
    }
  }

  .af-tab:first-child {
    input[type="radio"] + label,
    input[type="checkbox"] + label{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .af-tab:last-child {
    input[type="radio"] + label,
    input[type="checkbox"] + label{
      border-right: 1px $primary-color solid;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}