@import url('https://fonts.googleapis.com/css?family=Lato');
@import './styles/base/static';
@import './styles/utils/shadow';

.scope-app {
  font-family: 'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}